<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Autenticazione</title>
</head>
<body>
	<form>
		<label>Scegli il tipo di login: </label><br>
		<input type="radio" name="login-type" value="login-docente" checked="checked">
		<label for="login-docente">Login docente</label>
		<input type="radio" name="login-type" value="login-studente">
		<label for="login-studente">Login studente</label><br>
		<label for="login-code">Inserisci il codice identificativo:</label><br>
		<input type="text" name="login-code" required><br>
		<label for="login-password">Inserisci la password:</label><br>
		<input type="password" name="login-password" required><br>
		<input type="submit" value="Effettua il login">
	</form>
</body>
</html>