-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: projectdb
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `appelli`
--

DROP TABLE IF EXISTS `appelli`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `appelli` (
  `data` date NOT NULL,
  `nome_corso` varchar(256) NOT NULL,
  PRIMARY KEY (`data`,`nome_corso`),
  KEY `nome_corso` (`nome_corso`),
  CONSTRAINT `appelli_ibfk_1` FOREIGN KEY (`nome_corso`) REFERENCES `corsi` (`nome`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appelli`
--

LOCK TABLES `appelli` WRITE;
/*!40000 ALTER TABLE `appelli` DISABLE KEYS */;
/*!40000 ALTER TABLE `appelli` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `corsi`
--

DROP TABLE IF EXISTS `corsi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `corsi` (
  `nome` varchar(256) NOT NULL,
  `codice_docente` int NOT NULL,
  PRIMARY KEY (`nome`),
  KEY `codice_docente` (`codice_docente`),
  CONSTRAINT `corsi_ibfk_1` FOREIGN KEY (`codice_docente`) REFERENCES `docenti` (`codice_docente`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `corsi`
--

LOCK TABLES `corsi` WRITE;
/*!40000 ALTER TABLE `corsi` DISABLE KEYS */;
/*!40000 ALTER TABLE `corsi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docenti`
--

DROP TABLE IF EXISTS `docenti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `docenti` (
  `codice_docente` int NOT NULL,
  `nome` varchar(256) NOT NULL,
  `cognome` varchar(256) NOT NULL,
  `email` varchar(256) NOT NULL,
  `password` varchar(32) NOT NULL,
  PRIMARY KEY (`codice_docente`),
  UNIQUE KEY `email` (`email`),
  CONSTRAINT `docenti_chk_1` CHECK ((`codice_docente` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docenti`
--

LOCK TABLES `docenti` WRITE;
/*!40000 ALTER TABLE `docenti` DISABLE KEYS */;
/*!40000 ALTER TABLE `docenti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `iscrizioni`
--

DROP TABLE IF EXISTS `iscrizioni`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `iscrizioni` (
  `nome_corso` varchar(256) NOT NULL,
  `data_appello` date NOT NULL,
  `matricola_studente` int NOT NULL,
  `voto` varchar(16) DEFAULT NULL,
  `stato_pubblicazione` varchar(16) NOT NULL,
  PRIMARY KEY (`nome_corso`,`data_appello`,`matricola_studente`),
  KEY `matricola_studente` (`matricola_studente`),
  CONSTRAINT `iscrizioni_ibfk_1` FOREIGN KEY (`nome_corso`, `data_appello`) REFERENCES `appelli` (`nome_corso`, `data`) ON UPDATE CASCADE,
  CONSTRAINT `iscrizioni_ibfk_2` FOREIGN KEY (`matricola_studente`) REFERENCES `studenti` (`matricola`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `iscrizioni`
--

LOCK TABLES `iscrizioni` WRITE;
/*!40000 ALTER TABLE `iscrizioni` DISABLE KEYS */;
/*!40000 ALTER TABLE `iscrizioni` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studenti`
--

DROP TABLE IF EXISTS `studenti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studenti` (
  `matricola` int NOT NULL,
  `nome` varchar(256) NOT NULL,
  `cognome` varchar(256) NOT NULL,
  `email` varchar(256) NOT NULL,
  `password` varchar(32) NOT NULL,
  `corso_laurea` varchar(256) NOT NULL,
  PRIMARY KEY (`matricola`),
  UNIQUE KEY `email` (`email`),
  CONSTRAINT `studenti_chk_1` CHECK ((`matricola` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studenti`
--

LOCK TABLES `studenti` WRITE;
/*!40000 ALTER TABLE `studenti` DISABLE KEYS */;
/*!40000 ALTER TABLE `studenti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verbali`
--

DROP TABLE IF EXISTS `verbali`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verbali` (
  `codice` char(36) NOT NULL,
  `data_creazione` date NOT NULL,
  `ora_creazione` time NOT NULL,
  `nome_corso` varchar(256) NOT NULL,
  `data_appello` date NOT NULL,
  PRIMARY KEY (`codice`),
  KEY `nome_corso` (`nome_corso`,`data_appello`),
  CONSTRAINT `verbali_ibfk_1` FOREIGN KEY (`nome_corso`, `data_appello`) REFERENCES `appelli` (`nome_corso`, `data`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verbali`
--

LOCK TABLES `verbali` WRITE;
/*!40000 ALTER TABLE `verbali` DISABLE KEYS */;
/*!40000 ALTER TABLE `verbali` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verbalizzazioni`
--

DROP TABLE IF EXISTS `verbalizzazioni`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verbalizzazioni` (
  `codice_verbale` char(36) NOT NULL,
  `matricola_studente` int NOT NULL,
  PRIMARY KEY (`codice_verbale`,`matricola_studente`),
  KEY `matricola_studente` (`matricola_studente`),
  CONSTRAINT `verbalizzazioni_ibfk_1` FOREIGN KEY (`codice_verbale`) REFERENCES `verbali` (`codice`) ON UPDATE CASCADE,
  CONSTRAINT `verbalizzazioni_ibfk_2` FOREIGN KEY (`matricola_studente`) REFERENCES `studenti` (`matricola`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verbalizzazioni`
--

LOCK TABLES `verbalizzazioni` WRITE;
/*!40000 ALTER TABLE `verbalizzazioni` DISABLE KEYS */;
/*!40000 ALTER TABLE `verbalizzazioni` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-08 13:19:16
