<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Iscritti</title>
</head>
<body>
	<div id="top-bar">
		<a href="AppelliDocente.html">Indietro</a> <a href="logout.html">Logout</a>
		<a href="verbali.html">Verbali</a>
	</div>
	<br>
	<div id="content">
		<h3>Iscritti all'appello:</h3>
		<table>
			<thead>
				<tr>
					<td>Matricola</td>
					<td>Nome</td>
					<td>Cognome</td>
					<td>Email</td>
					<td>Corso di laurea</td>
					<td>Voto</td>
					<td>Stato di valutazione</td>
					<td></td>
				<tr>
			</thead>
			<tbody>
				<tr>
					<td>123456</td>
					<td>Mario</td>
					<td>Rossi</td>
					<td>mario.rossi@example.com</td>
					<td>Ingegneria Informatica</td>
					<td>30</td>
					<td>Superato</td>
					<td><input type="button" value="Modifica"></td>
				</tr>
				<tr>
					<td>654321</td>
					<td>Luigi</td>
					<td>Bianchi</td>
					<td>luigi.bianchi@example.com</td>
					<td>Ingegneria Elettronica</td>
					<td>28</td>
					<td>Superato</td>
					<td><input type="button" value="Modifica"></td>
				</tr>
				<tr>
					<td>789012</td>
					<td>Giovanni</td>
					<td>Verdi</td>
					<td>giovanni.verdi@example.com</td>
					<td>Ingegneria Meccanica</td>
					<td>29</td>
					<td>Superato</td>
					<td><input type="button" value="Modifica"></td>
				</tr>
				<tr>
					<td>345678</td>
					<td>Anna</td>
					<td>Neri</td>
					<td>anna.neri@example.com</td>
					<td>Ingegneria Biomedica</td>
					<td>30</td>
					<td>Superato</td>
					<td><input type="button" value="Modifica"></td>
				</tr>
			</tbody>
		</table>
		<input type="button" value="Pubblica"> <input type="button"
			value="Verbalizza">
	</div>
</body>
</html>