<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login - Docente</title>
</head>
<body>
	<div id="top-bar">
		<a th:href="@{/}">Indietro</a>
	</div><br>
	<form method="POST">
		<div th:if="${messaggioErroreLogin != null}" th:text="${messaggioErroreLogin}">Errore<br></div>
		<label for="matricola">Codice docente:</label>
		<input type="text" name="codice_docente" required><br>
		<label for="password">Password:</label>
		<input type="password" name="password" required><br>
		<input type="submit" value="Accedi">
	</form>
</body>
</html>