<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modifica voto</title>
</head>
<body>
    <div id="top-bar">
        <a href="@{/Iscritti(nome_corso=${iscrizione.getNomeCorso()}, data_appello=${iscrizione.getDataAppello().toString()}, campo_ordine=start)">Indietro</a>
        <a href="@{/Logout}">Logout</a>
    </div><br>
    <div id="content">
        <h3>Modifica voto</h3>
        <form method="post">
            <p th:text="'Matricola: ' + ${studente.getMatricola()}">Matricola: 123456</p>
            <p th:text="'Cognome: ' + ${studente.getCognome()}">Cognome: Rossi</p>
            <p th:text="'Nome: ' + ${studente.getNome()}">Nome: Mario</p>
            <p th:text="'Email: ' + ${studente.getEmail()}">Email: mario.rossi@example.com</p>
            <p th:text="'Corso di laurea: ' + ${studente.getCorsoLaurea()}">Corso di laurea: Ingegneria Informatica</p>
            <label th:text="'Seleziona un voto:'" for="voto">Voto:</label>
            <select name="voto" required>
            	<option th:each="voto : ${voti}" th:value="${voto}" th:text="${voto}" th:selected="${voto == iscrizione.getVoto()}">Voto</option>
            </select>
            <input type="hidden" th:value="${studente.getMatricola()}" name="matricola">
            <input type="hidden" th:value="${iscrizione.getNomeCorso()}" name="nome_corso">
            <input type="hidden" th:value="${iscrizione.getDataAppello().toString()}" name="data_appello">
            <input type="submit" value="Salva">
        </form>
	</div>
</body>
</html>