<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modifica voto</title>
</head>
<body>
    <div id="top-bar">
        <a href="HomeDocente.html">Home</a>
        <a href="Iscritti.html">Indietro</a>
        <a href="logout.html">Logout</a>
        <a href="verbali.html">Verbali</a>
    </div><br>
    <div id="content">
        <h3>Modifica voto</h3>
        <form>
            <p th:text="'Matricola: ' + ${studente.getMatricola()}">Matricola: 123456</p>
            <p th:text="'Cognome: ' + ${studente.getCognome()}">Cognome: Rossi</p>
            <p th:text="'Nome: ' + ${studente.getNome()}">Nome: Mario</p>
            <p th:text="'Email: ' + ${studente.getEmail()}">Email: mario.rossi@example.com</p>
            <p th:text="'Corso di laurea: ' + ${studente.getCorsoLaurea()}">Corso di laurea: Ingegneria Informatica</p>
            <label th:text="'Seleziona un voto:'" for="voto">Voto:</label>
            <select name="voto">
            	<option th:each="voto : ${voti}" value="${voto}" th:text="${voto}">Voto</option>
            </select>
            <input type="text" name="voto" value="28" required><br>
            <input type="submit" value="Salva">
        </form>
	</div>
</body>
</html>