<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Modifica voto</title>
</head>
<body>
    <div id="top-bar">
        <a href="HomeDocente.html">Home</a>
        <a href="Iscritti.html">Indietro</a>
        <a href="logout.html">Logout</a>
        <a href="verbali.html">Verbali</a>
    </div><br>
    <div id="content">
        <h3>Modifica voto</h3>
        <form>
            <p>Matricola: 123456</p>
            <p>Nome: Mario</p>
            <p>Cognome: Rossi</p>
            <p>Email: mario.rossi@example.com</p>
            <p>Corso di laurea: Ingegneria Informatica</p>
            <label for="voto">Voto:</label>
            <input type="text" name="voto" value="28" required><br>
            <input type="submit" value="Salva">        
        </form>
	</div>
</body>
</html>