<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Verbale</title>
</head>
<body>
    <div id="top-bar">
        <a href="Verbali.html">Indietro</a>
    </div><br>
    <div id="content">
        <h3>Verbale</h3>
        <p>Codice verbale: 123456</p>
        <p>Nome corso: Ingegneria Informatica</p>
        <p>Data appello: 2023-10-01</p>
        <p>Data creazione: 2023-09-15</p>
        <p>Ora creazione: 10:00</p>
        <h4>Studenti verbalizzati:</h4>
        <table>
            <thead>
                <tr>
                    <th>Matricola</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Corso di laurea</th>
                    <th>Voto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123456</td>
                    <td>Mario</td>
                    <td>Rossi</td>
                    <td>mario.rossi@example.com</td>
                    <td>Ingegneria Informatica</td>
                    <td>30</td>
                    
                </tr>
                <tr>
                    <td>654321</td>
                    <td>Luigi</td>
                    <td>Bianchi</td>
                    <td>luigi.bianchi@example.com</td>
                    <td>Ingegneria Informatica</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>789012</td>
                    <td>Giovanni</td>
                    <td>Verdi</td>
                    <td>giovanni.verdi@example.com</td>
                    <td>Ingegneria Informatica</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>345678</td>
                    <td>Maria</td>
                    <td>Neri</td>
                    <td>maria.neri@example.com</td>
                    <td>Ingegneria Informatica</td>
                    <td>28</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>