<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Appelli - Studente</title>
</head>
<body>
    <div id="top-bar">
        <a href="Home_studente.html">Indietro</a>
        <a href="logout.html">Logout</a>
    </div><br>
    <div id="content">
        <h3>Appelli del corso:</h3>
        <table>
            <tr>
                <th>Data</th>
            </tr>
            <tr>
                <td><a href="esito.html">2023-01-15</a></td>
            </tr>
            <tr>
                <td><a href="esito.html">2023-01-22</a></td>
            </tr>
            <tr>
                <td><a href="esito.html">2023-01-29</a></td>
            </tr>
            <tr>
                <td><a href="esito.html">2023-02-05</a></td>
            </tr>
        </table>
    </div>
</body>
</html>