<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Esito esame</title>
</head>
<body>
    <div id="top-bar">
        <a href="HomeDocente.html">Indietro</a>
        <a href="../logout.html">Logout</a>
    </div><br>
    <div id="content">
        <h3>Esito pubblicato / Esito non pubblicato / Non iscritto</h3>
        <form>
            <label>Nome studente: Mario Rossi</label><br>
            <label>Matricola: 123456</label><br>
            <label>Email: mario.rossi@example.com</label><br>
            <label>Corso di laurea: Ingegneria Informatica</label><br>
            <label>Corso: Programmazione Web</label><br>
            <label>Data appello: 2023-10-01</label><br>
            <label>Voto: 30</label><br>
            <label>Stato di valutazione: Pubblicato/Verbalizzato</label><br>
        </form>
        <button type="button">Rifiuta</button> 
    </div>
</body>
</html>