<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home - Studente</title>
</head>
<body>
	<div id="top-bar">
        <a href="logout.html">Logout</a>
    </div><br>
    <div id="content">
        <h3>I tuoi corsi</h3>
        <table>
            <tr>
                <th>Nome corso</th>
            </tr>
            <tr>
                <th><a href="Appelli_studente.html">Corso 1</a><th></th>
            </tr>
            <tr>
                <th><a href="Appelli_studente.html">Corso 2</a><th></th>
            </tr>
            <tr>
                <th><a href="Appelli_studente.html">Corso 3</a><th></th>
            </tr>
            <tr>
                <th><a href="Appelli_studente.html">Corso 4</a><th></th>
            </tr>
            
        </table>
    </div>
</body>
</html>