<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login - Studente</title>
</head>
<body>
	<form method="POST">
		<div th:if="${messaggioErroreLogin != null}" th:text="${messaggioErroreLogin}">Errore<br></div>
		<label for="matricola">Numero di matricola:</label>
		<input type="text" name="matricola" id="matricola" required><br>
		<label for="password">Password:</label>
		<input type="password" name="password" id="password" required><br>
		<input type="submit" value="Accedi">
	</form>
</body>
</html>